.first {
    margin: 30px;
}

.first img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

@media screen and (min-width: 600px) {
    .first img {
      height: 200px;
    }
  }