.menu {
    width: 100vw;
    height: 60px;
    background: #222;
    color: floralwhite;
}

.menu_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.sound_button {
    padding: 0;
    border: 0;
    background-color: #222;
    font-size: 19px;
    color: white;
}

.sound_icon {
    margin-right: 10px;
}

.sound_on {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sound_off {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
}

.lang_button {
    padding: 0;
    border: 0;
    background-color: #222;
    font-size: 19px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lang_icon {
    margin-left: 10px;
}