.menu {
    width: 100vw;
    height: 60px;
    background: #222831;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sound_button {
    padding: 0;
    border: 0;
    background-color: #222831;
    font-size: 15px;
    color: white;
    margin-left: 30px;
    cursor: pointer;
}
.sound_icon {
    margin-right: 10px;
}
.sound_on {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sound_off {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
}

.lang_button {
    padding: 0;
    border: 0;
    background-color: #222831;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}
.lang_icon {
    margin-left: 10px;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: calc(50% - 76px);
}
.pagination_item {
    background: 0;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 4px;
    margin-left: 4px;
    cursor: pointer;
    border: 1px solid white;
    display: inline-block;
}
.pagination_item:hover::after {
    content: attr(data-title);
    background: rgba(17, 17, 17, 0.9);
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    white-space: nowrap;
    margin-bottom: 22px;
    bottom: 40px;
    position: absolute;
    z-index: 10;
    -webkit-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}
.pagination_item_active {
    background-color: white;
}
.pagination_item:hover {
    background-color: white;
}