.page {
    margin: 30px;
}

.page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

@media screen and (min-width: 600px) {
    .page img {
    height: 200px;
    }
}