.page {
    margin: 30px;
}

.page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

@media screen and (min-width: 600px) {
    .page img {
        height: 200px;
    }
}

.button_start {
    font-size: 30px;
    background-color: tomato;
    color: white;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 0;
    border-radius: 30px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(236, 131, 31, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(236, 131, 31, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(236, 131, 31, 0.2);
}

.button_start:hover {
    background-color: rgb(251, 130, 109);
}

.button_next {
    font-size: 30px;
    background-color: tomato;
    color: white;
    cursor: pointer;
    padding: 15px;
    border: 0;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button_next:hover {
    background-color: rgb(251, 130, 109);
}