.page {
    margin: 30px;
}

.title {
    margin-bottom: 50px;
    font-size: 32px;
    color: #393E46;
}

.page h2 {
    margin-bottom: 10px;
    font-size: 26px;
    color: #393E46;
}

.page p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}

.page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid #393E46;
}

.tripleBlock {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    border: 2px solid #222831;
}

.tripleBlock_1{
    height: 35px;
    width: 105px;
    background-color: rgb(251, 130, 109);
}

.tripleBlock_2{
    height: 35px;
    width: 105px;
    background-color: rgb(109, 251, 152);
}

.tripleBlock_3{
    height: 35px;
    width: 105px;
    background-color: rgb(109, 170, 251);
}

@media screen and (min-width: 640px) {
    .page {
        margin: 100px;
    }
    .title {
        font-size: 50px;
    }
    .page h2 {
        font-size: 30px;
    }
    .page p {
        font-size: 20px;
    }
    .page img {
        height: 200px;
    }
    .tripleBlock {
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
    .page {
        margin: 200px;
    }
}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1536px) {
    .page {
        margin: 400px;
    }
}