.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
}

.pagination button {
  background: 0;
  border: 0;
}

.pagination_item {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #222;
  margin-right: 2px;
  margin-left: 2px;
  cursor: pointer;
  border: 1px solid whitesmoke;
}
.pagination_item_active {
  background-color: whitesmoke;
}
.pagination_item:hover {
  background-color: whitesmoke;
}