.page {
    margin: 5rem 0rem;
    /* overflow: hidden; */
}

.page h2 {
    margin-bottom: 10px;
    font-size: 26px;
    color: #393E46;
}

.page p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}

@media screen and (min-width: 640px) {
    .page h2 {
        font-size: 30px;
    }
    .page p {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1536px) {

}