.blockchain {
    position: relative; 
    margin: 0px auto; 
    height: 150px; 
    width: 700px;
}

@media screen and (max-width: 768px) {
    .blockchain {
        height: 100px; 
        width: 300px;
    }
}

.btn_question {
    color: #222831;
}

.btn_question:hover {
    background-color: transparent;
    color: #5a5e63;
}