.app {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
}

.button_start {
  font-size: 30px;
  background-color: tomato;
  color: white;
  border: 0;
}

.button_start:hover {
  background-color: rgb(251, 152, 134);
}
