@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    font-family: 'Pangolin', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
}
*:focus {
    outline: none;
}

.main {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
}
