@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    font-family: 'Pangolin', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
}
*:focus {
    outline: none;
}

.main {
    /* height: calc(100vh - 60px); */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
}

body::-webkit-scrollbar {
    width: 0.6em;
}
body::-webkit-scrollbar-track {
    background: #EEEEEE;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(31, 41, 55, 1);
    border-radius: 20px;
}