.main {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.blockchain {
    position: relative;
    height: 100px;
    width: 100px;
}

.block {
    fill: rgb(92, 2, 211);
}
